{% extends 'base.html' %}
{% block title %}Account Settings{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="card text-center">
      <div class="card-header">
        <h2 class="card-title">Account Settings</h2>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </div>
      <div class="card-body">

        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">View Personal Particulars</h5>
            <a href="{{ url_for('view_personal_particulars') }}" class="btn btn-primary btn-block">Go to Settings</a>
          </div>
        </div>

        <div class="card text-center mt-3">
          <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <a href="{{ url_for('change_password') }}" class="btn btn-primary btn-block">Go to Settings</a>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
