{% extends "base(admin).html" %}
{% block title %}Add Product{% endblock %}
{% block content %}

<div class="container mt-3" id="AddFormContainer">
    <h2>Add Product</h2>
    <form method="post" action="/add_product" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class='form-control') }}
            {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class='form-control') }}
            {% for error in form.description.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
         <div class="form-group">
            {{ form.energy_saving_rating.label }}
            {{ form.energy_saving_rating(class='form-control') }}
            {% for error in form.energy_saving_rating.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
<!-- Quantity Input -->
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>

        <!-- Price Input -->
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
        </div>
        <!-- Quantity Input -->


        <!-- Price Input -->

        <button type="submit" class="btn btn-primary add-button">Add Product</button>
    </form>


</div>

<script>
    document.getElementById('AddFormContainer').addEventListener('click', function(event) {
        if (event.target.classList.contains('add-button')) {
            var confirmation = confirm("Are you sure you want to Add this product?");
            if (!confirmation) {
                event.preventDefault(); // Cancel form submission if the user cancels the confirmation dialog
            }
        }
    });
</script>
{% endblock %}
