{% extends "base(admin).html" %}

{% block title %}Library Loan System - Retrieve Forum{% endblock %}

{% block content %}
<div class="d-flex justify-content-end p-3">
    <a href="/admin_home" class="btn btn-success mr-2">Home</a>
</div>
  <div class="container mt-0">
    <h1 class="display-4 text-center">Manage Forum</h1>

    <div class="text-center mb-3">
      {% if count == 0 %}
        <p>No Posts Available.</p>
      {% elif count == 1 %}
        <p>There is 1 Post.</p>
      {% else %}
        <p>There are {{ count }} Posts.</p>
      {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for forum, username in forum_list %}
        <div class="col mb-4">
          <div class="card h-100">
            {% if forum.get_image() %}
              <img src="{{ url_for('static', filename='imageuploads/' + forum.get_image()) }}" alt="Forum Image" class="card-img-top img-fluid">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ forum.get_title() }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">User: {{ username }}</h6>
              <p class="card-text">{{ forum.get_content() }}</p>
            </div>
            <div class="card-footer">
                <form action="{{ url_for('admin_delete_forum', id=forum.get_forum_id()) }}" method="POST" class="d-inline" onsubmit="return confirmDeleteForum('{{ forum.get_title() }}');">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                  <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    function confirmDeleteForum(title) {
      return confirm(`Are you sure you want to delete the forum: ${title}?`);
    }
  </script>
{% endblock %}
