<!-- templates/electricity_graph.html -->
{% extends "base.html" %}
{% block title %}Electricity Consumption Graph{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center">Energy Consumption Graph</h1>

    <!-- Render the Plotly graph -->
    {{ graph_html | safe }}

    <div class="text-center mt-3">
        <a href="{{ url_for('electricity_tracker') }}" class="btn btn-primary">Back to Entries</a>
        <a href="{{ url_for('home') }}" class="btn btn-success">Go Back to Home</a>
    </div>
</div>
{% endblock %}
