{% extends "base(admin).html" %}

{% block title %}Update Product{% endblock %}

{% block content %}

<div class="container mt-3" id="updateFormContainer">
    <h2>Update Product</h2>
    <form method="post" enctype="multipart/form-data" id="update-form">
        {{ form.hidden_tag() }}

        <!-- Name Field -->
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class='form-control') }}
            {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Description Field -->
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class='form-control') }}
            {% for error in form.description.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Energy Saving Rating Field -->
        <div class="form-group">
            {{ form.energy_saving_rating.label(class='control-label') }}
            {{ form.energy_saving_rating(class='form-control') }}
            {% for error in form.energy_saving_rating.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Quantity Field -->
        <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity(class='form-control') }}
        </div>

        <!-- Price Field -->
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class='form-control') }}
        </div>

        <!-- Image Upload Field -->
        <div class="form-group mb-3">
            {{ form.image.label }}
            <input type="file" class="form-control" id="image" name="image">
            {% if product.image_filename %}
                <img src="{{ url_for('static', filename='imageuploads/' ~ product.image_filename) }}" alt="{{ product.name }}" style="width:100px;">
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('admin_product_list') }}" class="btn btn-success btn-block">Back to Products</a>
                <button class="btn btn-primary btn-block" onclick="return confirm('Are you sure you want to update this product?')">Update Product</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
